rabbitmq-to-salesforce/src/main/mule/rabbitmq-to-salesforce.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:salesforce="http://www.mulesoft.org/schema/mule/salesforce"
	xmlns:mqtt3="http://www.mulesoft.org/schema/mule/mqtt3"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/mqtt3 http://www.mulesoft.org/schema/mule/mqtt3/current/mule-mqtt3.xsd
http://www.mulesoft.org/schema/mule/salesforce http://www.mulesoft.org/schema/mule/salesforce/current/mule-salesforce.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<mqtt3:config name="MQTT3_Config" doc:name="MQTT3 Config" doc:id="0eb48655-64ca-4ed2-8d3f-bb2fd4a3c505" >
		<mqtt3:connection username="admin" password="curler-squishy-monogamy" url="tcp://10.2.160.222:1883" >
			<mqtt3:client-id-generator >
				<mqtt3:client-id-custom-expression-generator clientId="admin" />
			</mqtt3:client-id-generator>
			<mqtt3:last-will-and-testament topic="ITBusinessCase/Contracts/OrderSubmitted" />
			<mqtt3:connection-options cleanSession="false" />
		</mqtt3:connection>
	</mqtt3:config>
	<salesforce:sfdc-config name="Salesforce_Connector" doc:name="Salesforce Config" doc:id="f61d21fc-8c93-460d-a8a1-f9db32b719d4" >
		<salesforce:jwt-connection consumerKey="3MVG9HtWXcDGV.nHW.T1qqWjH2a6CRks_p2G3fttZexWQlXSo9uKomNvhbCUbflIZB7t9dLjKsGjCEUHUq9tE" keyStore="C:\Users\niels\AnypointStudio\studio-workspace\rabbitmq-to-salesforce\src\main\resources\niels.jks" storePassword="addhear" principal="niels.tanghe629@agentforce.com" certificateAlias="niels"/>
	</salesforce:sfdc-config>
	<flow name="rabbitmq-to-salesforceFlow" doc:id="9bfd932e-2284-4754-baa3-813fc869c40a">
		<mqtt3:listener doc:name="On New Message" doc:id="e9964955-488f-41e4-8871-9a2c14c86e8c" config-ref="MQTT3_Config">
			<mqtt3:topics >
				<mqtt3:topic topicFilter="ITBusinessCase/Contracts/OrderSubmitted" />
			</mqtt3:topics>
		</mqtt3:listener>
		<ee:transform doc:name="Transform Message" doc:id="309417ae-7b6b-4bbf-af2a-587bd3834a2f">
			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0
output application/java
---
[{
	Id: payload.message.orderId,
	ShippingStreet: payload.message.street,
	ShippingCity: payload.message.city,
	ShippingPostalCode: payload.message.postbus,
	ShippingCountryCode: payload.message.country,
	Name: payload.message.firstName,
}]]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<salesforce:upsert doc:name="Upsert" doc:id="1d1337e2-761a-4701-ba24-dd086ed4a49d" config-ref="Salesforce_Connector" objectType="Order" externalIdFieldName="OrderNumber" />
	</flow>
</mule>
